* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 2rem;
}

h2 {
  text-align: center;
  margin: 2rem;
}

.no-password {
  text-align: center;
  margin: 2rem;
}

.check-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.check-name {
  margin: 1rem;
}

.form-check-input {
  margin: 0.4rem;
}

.valid-password-check {
  color: #aeffb6;
}

.invalid-password-check {
  color: #f58989;
}
