* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #aeffb6;
  height: 6rem;
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

h1 {
  padding: 1.635rem;
}

h2 {
  text-align: center;
  margin: 2.5rem;
}

.no-password {
  text-align: center;
  margin: 2rem;
}

.check-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.check-name {
  margin: 1rem;
}

.form-check-input {
  margin: 0.4rem;
}

.valid-password-check {
  color: #00ff1a;
  margin: 0.25rem;
}

.invalid-password-check {
  color: #ff0000;
  margin: 0.25rem;
}

.no-password {
  color: #ff0000;
  opacity: 0.4
}

section {
  display: flex;
  align-items: center;
  height: 300px;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.75);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 250px;
  border: #aeffb6 solid;
  border-radius: 20px;
  margin: 15px;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  width: 90vw;
}

.carousel-control-prev-icon {
  height: 50px;
  width: 50px;
  
}

.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  
}


